nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    height: 100%;
    top: 0;
    background-color: $component-bg;
    color: white;
    z-index: 11;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li:not(:first-child) {
            margin-top: 3.5rem;

            a {
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    margin-top: 10px;
                    font-size: 10px;
                }
            }
        }
    }
}
